body, html {
    width: 100%;
    height: 100%;
    background: #FCFCFC;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif !important;
}

.navbar-brad img {
    width: 50px;
}

.navbar-nav li {
    padding-right: 20px;
}

.navbar-li-index {
    padding-right: 5px !important;
}

.nav-link {
    font-size: 1.1em !important;
}

.navbar {
    background-color: #3988ad !important;
}

.container {
    margin-top: 20px;
}

.mb-3 {
    color: #3782ad;
}

#errorEl {
    margin-top: 10px;
}

#textBoxEl {
    margin-top: 10px;
}

#usernameBar {
    margin-left: 1rem;
}

.container-fluid {
    border: 1px;
    padding: 0px;
}

.showAnim {
    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1.3s; /*Скорость перехода состояния элемента*/

    animation: show 1.3s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    /*animation-delay: 1s; !* Задержка перед началом *!*/
}
@keyframes show{
    0%{
        opacity:0;
    }

    100% {
        opacity:1;
    }
}

.img {
    width: 4rem;
}

#addFormButton {
    margin-top: 25px;
}

#cancelAddButton {
    margin-top: 25px;
}

#table {
    margin-top: 15px;
}

.tableText {
    color: black; width: 14rem !important;
}

.tableHeader {
    border-radius: 0px;
    border-bottom: 3px solid green;
    border-top: 3px solid green
}

.account-label {
    margin-bottom: 0px !important;
}

td {
    height: 1rem !important;
}

#changeDataButton {
    margin-left: 0.8rem;
}

#changeDataButton:hover {
    transition-duration: 0.7s;
    font-size: 1.02rem;
}


.changeDataButtonNotFocus {
    transition-duration: 0.7s;
    font-size: 1rem;
}






